<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <Socket name="Graylog" protocol="udp" host="localhost" port="12201">
            <GelfLayout host="sample-app" compressionType="GZIP" compressionThreshold="1024">
                <Field name="timestamp" pattern="%d{dd MMM yyyy HH:mm:ss,SSS}" />
                <Field name="level" pattern="%5level" />
                <Field name="simpleClassName" pattern="%C{1}" />
                <Field name="className" pattern="%C" />
                <Field name="server" pattern="%host" />
                <Field name="application" pattern="sample" />
                <Field name="server.fqdn" pattern="%host{fqdn}" />
            </GelfLayout>
        </Socket>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Graylog"/>
        </Root>
    </Loggers>
</Configuration>
